<div class="custom-review-slider-section section-block-{{section.id}}{% if settings.banner_animation == 'effect_fade_up' %} scroll-trigger animate--slide-in{% endif %}" id="custom-review-slider-section-{{section.id}}" data-loader-script="{{ 'halo.slide-custom-review.js' | asset_url }}">
    <div class="container-1770">
        <div class="crs-rte">
            {% if section.settings.header != blank %}
                <h2 class="custom-section-header text-center">{{ section.settings.header }}</h2>
            {% endif %}
            {% if section.settings.text != blank %}
                <div class="custom-section-text text-center">{{ section.settings.text }}</div>
            {% endif %}
        </div>
        <div class="custom-review-slider small-hide" data-custom-review>
            {% for block in section.blocks %}
                {% assign m = forloop.index0 | modulo:2 %}
                {% if forloop.first or m == 0 %}
                    <div>
                {% endif %}
                <div class="custom-review-slider-item">
                    <div class="crs-text-block">
                        <span class="crs-name">{{ block.settings.name }}</span>
                        {{ block.settings.star | image_url: width: block.settings.star.width | image_tag: class: 'crs-star' }}
                        <span class="crs-title">{{ block.settings.title }}</span>
                        <div class="crs-text">{{ block.settings.description }}</div>
                    </div>
                    <div class="crs-image-block">
                        {{ block.settings.image | image_url: width: block.settings.image.width | image_tag: class: 'crs-image' }}
                    </div>
                </div>
                {% if forloop.last or m == 1 %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="custom-review-slider large-up-hide medium-hide" data-custom-review>
            {% for block in section.blocks %}
                <div class="custom-review-slider-item">
                    <div class="custom-review-slider-item-inner">
                        <div class="crs-text-block">
                            <span class="crs-name">{{ block.settings.name }}</span>
                            {{ block.settings.star | image_url: width: block.settings.star.width | image_tag: class: 'crs-star' }}
                            <span class="crs-title">{{ block.settings.title }}</span>
                            <div class="crs-text">{{ block.settings.description }}</div>
                        </div>
                        <div class="crs-image-block">
                            {{ block.settings.image | image_url: width: block.settings.image.width | image_tag: class: 'crs-image' }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% schema %}
{
    "name": "Custom Review Slider",
    "settings": [
        {
            "type": "text",
            "id": "header",
            "label": "Header",
            "default": "Real Reviews of Our Real Hair"
        },
        {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Honest feedback from those who have reclaimed their confidence.</p>"
        }
    ],
    "blocks": [
        {
            "type": "review",
            "name": "Review",
            "settings": [
                {
                    "type": "text",
                    "id": "name",
                    "label": "Name"
                },
                {
                    "type": "image_picker",
                    "id": "star",
                    "label": "Star"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title"
                },
                {
                    "type": "richtext",
                    "id": "description",
                    "label": "Description"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Custom Review Slider"
        }
    ]
}
{% endschema %}