<div class="custom-featured-products section-block-{{section.id}}{% if settings.banner_animation == 'effect_fade_up' %} scroll-trigger animate--slide-in{% endif %}" id="custom-featured-products-{{section.id}}">
    <div class="container-1770">
        <div class="custom-featured-products-slider" data-auto-video="true" data-init-slideshow data-arrows="true" data-dots="false" data-autoplay="true" data-autoplay-speed="5000" data-fade="true">
            {% for block in section.blocks %}
                <div class="item slide-block-{{block.id}}" id="block-{{block.id}}" data-index="{{forloop.index}}">
                    <div class="custom-featured-product">
                        {% assign product = block.settings.product %}
                        <div class="cfp-text-block">
                            {% assign title = block.settings.title | default: product.title %}
                            {% assign description = block.settings.text | default: product.description %}
                            {% assign image = block.settings.image | default: product.featured_image %}
                            <h2 class="custom-section-header">{{ title }}</h2>
                            <div data-shop-id="{{shop.id}}" product-id="{{product.id }}" data-page="{{request.page_type}}" class="ddreview-star"></div>
                            <h3 class="cfp-price">
                            {%- render 'price',
                                product: product,
                                use_variant: false,
                                price_class: 'price--medium'
                            -%}
                            </h3>
                            <div class="custom-section-text">{{ description }}</div>
                            <div class="cfp-btn">
                                <a class="button" href="{{ product.url }}">Shop Now</a>
                            </div>
                        </div>
                        <div class="cfp-image-block">
                            {% unless forloop.first %}
                                {% assign before_index = forloop.index0 | minus: 1 %}
                            {% else %}
                                {% assign before_index = section.blocks.size | minus: 1 %}
                            {% endunless %}
                            {% unless forloop.last %}
                                {% assign after_index = forloop.index0 | plus: 1 %}
                            {% else %}
                                {% assign after_index = 0 %}
                            {% endunless %}
                            {% assign before_image = section.blocks[before_index].settings.image %}
                            {% assign after_image = section.blocks[after_index].settings.image %}
                            <div class="cfp-before-image cfp-image custom-image">
                                {{ before_image | image_url: width: 580 | image_tag }}
                            </div>
                            <div class="cfp-after-image cfp-image custom-image">
                                {{ after_image | image_url: width: 580 | image_tag }}
                            </div>
                            <div class="cfp-main-image cfp-image custom-image">
                                {{ image | image_url: width: 580 | image_tag }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% schema %}
{
    "name": "Custom Featured Prodcuts",
    "settings": [],
    "blocks": [
        {
            "type": "featured_product",
            "name": "Featured Product",
            "settings": [
                {
                    "type": "product",
                    "id": "product",
                    "label": "Product"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title"
                },
                {
                    "type": "richtext",
                    "id": "text",
                    "label": "Description"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Custom Featured Prodcuts"
        }
    ]
}
{% endschema %}