<div class="explore-section">
    <div class="explore-container">
        {% if section.settings.heading != blank %}
            <h2 class="custom-section-header text-center">{{ section.settings.heading }}</h2>
        {% endif %}
        <div class="explore-flex">
            {% for block in section.blocks %}
                {% assign product = block.settings.product %}
                <div class="explore-item">
                    <div class="explore-image custom-image">
                        {{ product.featured_image | image_url: width: product.featured_image.width | image_tag }}
                    </div>
                    <div class="explore-overlay">
                        <h2 class="explore-title text-center">{{ product.title }}</h2>
                        <div data-shop-id="{{ shop.id }}" product-id="{{ product.id }}" data-page="index" class="ddreview-star explore-star text-center"></div>
                        <div class="explore-price text-center">
                            {%- render 'price',
                                product: product,
                                use_variant: false,
                                price_class: 'price--medium'
                            -%}
                        </div>
                        <div class="explore-button text-center">
                            <a class="button" href="{{ product.url }}">Shop Now</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% schema %}
{
    "name": "Explore Featured Products",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Explore Featured Products"
        }
    ],
    "blocks": [
        {
            "type": "product",
            "name": "Product",
            "settings": [
                {
                    "type": "product",
                    "id": "product",
                    "label": "Product"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Explore Featured Products"
        }
    ]
}
{% endschema %}